<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="jumbotron">
                    <p class="lead">{{'qt.title' | translate}}</p>
                    <hr class="my-4">
                    <p class="content">{{'qt.perface' | translate}}</p>
                    <hr class="my-4">
                    <h4>{{'qt.copyright' | translate}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>