body { background-color: #D4D4D4;font-family: 'Microsoft Yahei'; }
body * { box-sizing: border-box;list-style: none; }
body > #menu {margin: 4pt;padding: 0;text-align: center;font-size: 16pt;}
body > #menu > li {padding: 10pt 0;display: inline-block;width: 32.7%;border: 1pt solid #999;}
.content_box:after { content: '';width: 0;height: 0;opacity: 0;clear: both; }
.content_box > .menu { float: left;width: 25%;padding: 0 10pt; }
.content_box > .menu > li { padding: 10pt 0; }
.content_box > .content { float: left;width: 75%; }
.content_box > .content > ul { padding: 0; }