body { background-color: #D4D4D4;font-family: 'Microsoft Yahei'; }
body * { box-sizing: border-box;list-style: none; }
body > #menu {margin: 4pt;padding: 0;text-align: center;font-size: 16pt;display: grid;grid-auto-flow: column;grid-auto-columns: auto 1fr 1fr 1fr 1fr;}
body > #menu > li {padding: 10pt 0;margin: 0 4pt;display: inline-block;border: 1pt solid #999;}
.logo {width: 30pt;float: left;margin: 2pt 8pt 0 4pt;}
.content_box:after { content: '';width: 0;height: 0;opacity: 0;clear: both;display: table; }
.content_box > .menu { float: left;width: 25%;padding: 0 10pt; }
.content_box > .menu > li { padding: 10pt 0; }
.content_box > .menu .active { color: darkred; }
.content_box > .content { float: left;width: 75%; }
.content_box > .content > ul { padding: 0; }
.img-article-left {width: 300pt;}