.normal_indent {
    text-indent: 1.7rem;
}

.dis_ib {
    display: inline-block;
}

.w_50 {
    width: 50%;
}

.w_100 {
    width: 100%;
}

.radius {
    border-radius: 4px;
}

@mixin line-clamp($lines) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
}

@for $i from 2 through 10 {
    .overflow_#{$i} {
        @include line-clamp($i);
    }
}