{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sportsmen/css/styles.css' %}">
    <title>Add Article</title>
    <style>
        .form_label {display: inline-block;width: 100pt;}
        .form_error {color: darkred;}
        .btn {margin-left: 104pt;}
    </style>
</head>
<body>
    <h2>Add New Article</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <p>
            <label class="form_label" for="{{field.id_for_label}}">{{field.label}}:</label>
            {{field}}
        </p>
        <div class="form_error">{{field.errors}}</div>
        {% endfor %}
        <button class="btn" type="submit">Add article</button>
    </form>
</body>
</html>
